# Stage 1: Build
FROM gradle:{{ item.gradle_version }} AS build

WORKDIR /app

COPY . .

RUN gradle clean --refresh-dependencies war
# Stage 2: Runtime
FROM tomcat:{{ item.tomcat_version }}

RUN apt-get update && apt-get install -y postgresql-client

COPY --from=build /app/build/libs/*.war /usr/local/tomcat/webapps/ROOT.war

EXPOSE {{ item.expose }}

CMD ["catalina.sh", "run"]
